// Variable overrides for Bootstrap
// (look in bootstrap/variables to see
// what variables exists)
@import "variable-overrides";

// The whole Bootstrap library
@import "bootstrap/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Poiret+One&display=swap");

// My own CSS (as little as possible)
@import "sticky-footer";

body {
  font-family: Poiret One;
}

h1,
h2 {
  font-family: Indie Flower;
}

.icon1 {
  font-size: 50px;
}

.logo1 {
  width: 500px;
}

.list {
  width: 4vw;
}