// Variable overrides for Bootstrap
// (look in bootstrap/variables to see
// what variables exists)
@import "variable-overrides";

// The whole Bootstrap library
@import "bootstrap/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Poiret+One&display=swap");

// My own CSS (as little as possible)
@import "sticky-footer";
@media screen and (max-width: 800px)

{
#nav-toggle{
  outline: none;
}
.block { display: none; }

}
body, .inside-i {
  
  font-family: Poiret One;
}

.inside-i {
  font-size: 70%;
}

.banner{
  width: 100%;
  height: 41vh;
  background-image: url(images/woods.jpeg);
  background-size: cover;
  background-position: 50% 50%;
}

.banner img {
  height: 35vh;
}

h1,
h2 {
  font-family: Indie Flower;
}

.icon1 {
  font-size: 50px;
}

.logo1 {
  width: 500px;
}
.logo2 {
  width: 230px;
  
}

.list {
  width: 50px;
}

.order-icon {
  background: url('images/orderh26.png') no-repeat left top;
  width: 1.6rem;
  height: 1.6rem;
  transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;
}

.order-icon:hover {
  background-image: url(images/orderh26hover.png);
  transition: color 0.15s ease-in-out, 
  background-color 0.15s ease-in-out, 
  border-color 0.15s ease-in-out, 
  box-shadow 0.15s ease-in-out;
}

.order-icon img {
  height: 1.8rem;
}

.nav-item{
  position: relative;
}
.block{
  border-radius: 10vh;
  position: absolute;
  border-top:2px solid #f5f5c8;
  widows: 2vw;
  bottom:30%;
  // width: 3.50vw;
}

.fa-minus-circle, .fa-plus-circle, .fa-trash, .fa-th, .fa-list{
  cursor: pointer;
}

.listHeadBorder{
  border-bottom: 3px solid #27380c;
}

.listBorder{
  border-bottom: 1px dotted #27380c;
}
.ordertoggle{
  display: none;
}

